{% extends 'AppBundle:Blog:public.html.twig' %}
{% block content %}
    {{ form_start(form, {'attr': {'class': 'blog-form','novalidate': 'novalidate'}}) }}
    <div class="blog-title">
        {{ form_label(form.title) }}
            {{ form_widget(form.title,{'attr': {'placeholder': '请输入标题'}}) }}
        <div class="errors">
            {{ form_errors(form.title) }}
        </div>
    </div>
    <div class="row">
        <div class="content-edit">
            {{ form_widget(form.content,{'attr': {'placeholder': '请输入内容'}}) }}
            <div class="errors">
                {{ form_errors(form.content) }}
            </div>
        </div>
    </div>
    <div class="btn">
        {{ form_row(form.submit) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
{% block script %}
    <script src="{{ asset('js/tinymce.min.js') }}"></script>
    <script>
        tinymce.init({
            selector: '#app_blog_type_content',
            width: '800',
            height: '250',
            max_height: '315'
        })
    </script>
{% endblock %}
